.FAQ-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cs__FAQ-content {
    width: 95%;
    padding: 0 80px;
}

.FAQ-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    padding: 15px 30px;
    color: var(--gradient-bar);
}

.FAQ-button {
    border: none;
    background: none;
    color: white;
    font-size: 2rem;
}

.FAQ__item-body {
    border: none;
    border-radius: 20px;
    background: var(--gradient-bar);
}

.FAQ__item-body {
    position: relative;

    text-decoration: none;
    font-family: var(--font-family1);
    border-style: none;
    border-radius: 14px;
    color: #2b1055;
    transform: translateY(100px);
    box-shadow: rgba(0, 0, 0, 0.698) 0px 22px 70px 4px;

    letter-spacing: .15rem;
	transition: all 0.3s;
	overflow: hidden;
    cursor: pointer;
    color: #fff;
    background: rgba(238, 226, 188, 0.2);
    background: rgba(219, 201, 242, 0.354);
    backdrop-filter: blur(1em);
    background: var(--gradient-bar);
    z-index: 10;   
}   

.FAQ__item-body:before {
        content: "";
        background-color: #fff;
        top: 0;
        left: 0;
        width: 30%;
        height: 50px;
        position: absolute;
        transform: translateX(-100%) rotate(45deg);
        transition: all 0.3s;
        z-index: 11;
    }

.FAQ__item-body:hover::before {
        transform: translateX(310%) rotate(45deg);
    }

.FAQ-answer {
    background: linear-gradient(103.22deg, #ae67fab4 -13.86%, #f49867b5 99.55%);
    backdrop-filter: blur(3em);
    font-size: 1.2rem;
    padding: 15px 30px;

}

.FAQ-button {
    width: 45px;
    height: 45px;
    border: none;
    background: none;
    color: white;
 
    z-index: 10;
    transition: all 0.5s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}

.FAQ-button.is-open,
.FAQ-button.is-open:after {
    transform: rotate(45deg)!important;
}
.FAQ-button:hover, .FAQ-button.is-open {
    color: #000;
    font-weight: bold;
}