.FAQ-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.FAQ-content .faq-row-wrapper {
    border-radius: 20px;
    background: transparent;
}
.FAQ-content {
    width: 95%;
    padding: 0 80px;
    margin-top: 2em;
    border-radius: 20px;
}

.FAQ-content .faq-body {
    font-size: 1.5rem;
    padding: 15px 30px;
    background: var(--gradient-bar);
    border-radius: 20px;
 
}

.FAQ-content .faq-body .faq-row {
    padding: 0.6em;
    display: flex;
}
.FAQ-content .faq-body .faq-row .row-title {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1em 0.5em;
    
}
.FAQ-content .faq-body .faq-row .row-content {
    border-radius: 20px;

}
.FAQ-content .faq-body .faq-row .row-title .icon-wrapper,
.FAQ-content .faq-body .faq-row .row-title .icon-wrapper .arrow-image {
   /* font-weight: 900; */
   width: 3rem;
   height: 3rem;
}

.FAQ-content .faq-body .faq-row .row-content-text {
    color: white!important;
    font-size: 1.3rem!important;
    padding: 1em 0.5em!important;
    line-height: 30px;
}

.FAQ-content .faq-body {
    position: relative;

    text-decoration: none;
    font-family: var(--font-family1);
    border-style: none;
    border-radius: 14px;

    box-shadow: rgba(0, 0, 0, 0.698) 0px 22px 70px 4px;

    letter-spacing: .15rem;
	transition: all 0.3s;
	overflow: hidden;
    cursor: pointer;
    color: #fff;
    background: rgba(238, 226, 188, 0.2);
    background: rgba(219, 201, 242, 0.354);
    backdrop-filter: blur(1em);
    background: var(--gradient-bar);
    z-index: 10;   
}   
.FAQ-content .faq-body:hover {
    transform: scale(1.01);
}

