.roadmap-section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 7rem;
}


.roadmap-container {
    width: 80%;
}


.roadmap-container div {
    line-height: 50px;
    font-size: 25px;
    color: #fff;
  
}