.NFT-section {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    position: relative;
}

.NFT-section .girls-collection-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 200vh;
}

.NFT .nft-title {
    font-size: 3rem;

}


.nft-img {
    width: 200px;
}

.NFT-images-container {
    width: 90%;
    display: flex;
    justify-content: space-around;
    /* padding: 3.5em 3em; */
    
    
}

.NFT-section .NFT-title-line {
    width: 85%;
    height: 80px;
    top: 0;
    margin-bottom: 4rem;

    filter: brightness(10);
}
.NFT-section .NFT-title-line img {
    width: 100%;
}

/* overrides the section__title's initial margin setting */
.NFT-title-line + .section__title {
    margin: 0!important;
}