.welcome-section {
    top: 0;
    width: 100%;
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 5;
}

.welcome-images {
    top: 20%;
    width: 45%;
    position: relative;
}

.palace {
    position: absolute;
    width: 100%;
    z-index: 6;
 
}
/* .palace-back {
    width: 100%;
    position: absolute;
    filter: blur(5rem);
    z-index: 4;
}

.welcome-images span {
    position: absolute;
    width: 39rem;
    height: 39rem;
    background: #FBB03B;
    filter: blur(1rem);

    border-radius: 50%;
    z-index: -1;
    filter: blur(3rem);
} */

/* .welcome-images .first-light {
    position: absolute;
    width: 25rem;
    height: 25rem;
    background: #FBB03B;
    filter: blur(20rem);
    top: -5rem;
    left: 12%;
    border-radius: 50%;

} */

.cloud {
    width: 24%;
    position: absolute;
    z-index: 1;
    right: -60%;
    animation: cloudMove linear infinite;
}

.cloud1 {
    top: -15rem;
    animation-delay: 5s;
    animation-duration: 200s;
}

.cloud2 {
    top: -5rem;
    animation-duration: 280s;
}
.cloud3 {
    top: 13rem;
    animation-delay: 8s;
    animation-duration: 225s;
}
.cloud4 {
    top: 27rem;
    animation-duration: 305s;
}

/* .cloud5 {
    top: 0rem;
    animation-delay: 210s;
    animation-duration: 158s;    
}

.cloud6 {
    top: 7rem;
 
    animation-duration: 160s;
}

.cloud7 {
    top: 14rem;
    animation-delay: 260s;
    animation-duration: 150s;   
}

.cloud8 {
    top: 19rem;

    animation-duration: 130s;
} */
@keyframes cloudMove {
    0% {
        transform: translateX(900%);
    } 
    50% {
        transform: translateX(-1000%);
    } 
    100% {
        transform: translateX(900%);
    } 
 
    
}

.music {
    position: absolute;

    width: 1rem;
    filter: brightness(8);
    animation: musicMove 2s ease-in-out infinite;
}

.music1 {
    right: 4rem;
    top: 10rem;
}

.music2 {
    top: -12rem;
    right: 8rem;
}

.music3 {
    top: -12rem;
    right: 30rem;
}

.music4 {
    top: -6rem;
    right: -4rem;
}

.music5 {
    top: -15rem;
    right: 10rem;
}

.music5 {
    top: -5rem;
    right: 20rem;
}

.music6 {
    top: -10rem;
    right: 50rem;
}

.music7 {
    top: 5rem;
    right: 40rem;
}

.music8 {
    top: 10rem;
    right: 50rem;
}

@keyframes musicMove {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }

}