.projects-section {
    width: 100%;
    min-height: 100vh;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */

    margin-top: 0;
    padding-top: 0;
}

.projects-section .projects-container {
    width: 70%;
    height: 140vh;
    position: inherit;
    /* background-color: blue; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-section .projects-container .project-element {
    width: 100%;
    /* border: 10px solide black; */
    margin: 2rem;
    background-color: rgba(80, 79, 79, 0.214);
    padding: 3rem;
    border-radius: 50px;


    background: rgba(0, 0, 0, 0.3222 );
    /* border-radius: 20px; */
    transition: background .3s ease, transform .2s ease;

  
}

.projects-section .projects-container .project-element:hover {
    background: rgba(255, 255, 255, 0.096);
    transform: scale(1.05);
}





.projects-section .projects-container .project-element img {
    width: 40%;

}