.features-container__feature {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.features-container__feature-title {
    max-width: 500px;
    width: 40%;
}

.features-container__feature-title h1 {
    font-family: var(--font-family2);
    font-weight: 800;
    font-size: 1.9rem;
    line-height: 30px;
    letter-spacing: 0.15em;
    color: #fff;
    margin-bottom: 35px;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.features-container__feature-title div {
    width: 50px;
    height: 8px;
    background: var(--gradient-bar);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

.features-container_feature-text {
    /* flex: 2; */
    width: 50%;
    max-width: 800px;
    display: flex;
}

.features-container__feature-text p {
    margin-top: 0.5em;
    font-family: var(--poppins);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8em;
    color: #fff;
}





@media screen and (max-width: 1050px) {
    .features-container__feature-title {
        width: 100%;
    }
    .features-container_feature-text {
        width: 100%;
    }
}

/* @media screen and (max-width: 650px) {


}

@media screen and (max-width: 490px) {
   
} */
