.home-section {
    width: 100vw;
    height: 250vh;
    position: relative;
    z-index: 1;
}

.hero-container {

    z-index: 10;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template:
        "top top top" 1fr
        "left content right" 3fr
        "bottom bottom bottom" 1fr / 1fr 2fr 1fr;

}

.top {
    grid-area: top;
}
  
.left {
    grid-area: left;
}
  
.right {
    grid-area: right;
}
  
.bottom {
    grid-area: bottom;
}

.spaceship {
    grid-area: content;
}

.home-section .hero-bg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.home-section .hero-bg img {
    width: 100%; 
    pointer-events: none;

    position:absolute;
    top: 0;
    left: 0;

    opacity: 0.2;
    pointer-events: none;
    animation: movingStars 100s ease-in infinite,
    movingBackground 18s linear infinite;
}

.hero-bg-stars1 {
    animation-delay: 0s;

}
.hero-bg-stars2 {
    animation-delay: 5s;
}
.hero-bg-stars3 {
    animation-delay: 10s;
}


@keyframes movingStars {
    0%,20%,40%,60%,80%, 100% {
        opacity: 0.2;   
    }
    10%,30%,50%,70%,90% {
        opacity: 0.5; 
    } 
}

@keyframes movingBackground {
    0% {
        transform: scale(1);      
    }
    100% {
        transform: scale(2);
    }  
}  

.home-container {
    width: 100%;
    height: 182vh;

    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 0.2fr;
    gap: 5% 5%;   
 
}

.first-left {
    grid-column: 2/3;
    grid-row: 2/3;

}
.first-right {
    grid-column: 3/4;
    grid-row: 2/3;
  
}
.second-left {
    grid-column: 2/3;
    grid-row: 3/4;

}
.second-right {
    grid-column: 3/4;
    grid-row: 3/4;
 
}
.third-left {
    grid-column: 2/3;
    grid-row: 4/5;

}
.third-right {
    grid-column: 3/4;
    grid-row: 4/5;
  
}
.home-container-top {
    grid-column: 1/-1;
    grid-row: 1/2;
   
}
.home-container-left {
    grid-column: 1/2;
    grid-row: 2/-2;

}
.home-container-right {
    grid-column: -2/-1;
    grid-row: 2/-2;
}
.home-container-bottom {
    grid-column: 1/-1;
    grid-row: -2/-1;
}

.hero-image {
    display: block;
    width: 100%;
    height: 18rem;
    background-color: aliceblue;
    filter: blur(0.2rem);
    /* transform: translate(50px, -50px); */
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.hero-text {
    font-size: 4rem;
    color: white;
    font-weight: 800;
    letter-spacing: 0.5rem;
}








@media screen and (max-width: 1050px) {
    .home-section {
        height: 300vh;
    }
    .home-container {
        height: 200vh;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 0.3fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 0.3fr;
    }
    .home-container-top {
        grid-column: 1/-1;
        grid-row: 1/2;
        order: 0;
    }

    .first-left {
        grid-column: 2/3;
        grid-row: 2/3;
        order: 1;
    }
    .first-right {
        grid-column: 2/3;
        grid-row: 3/4;
        order: 2;
      
    }
    .second-left {
        grid-column: 2/3;
        grid-row: 4/5;
        order: 3;
    
    }
    .second-right {
        grid-column: 2/3;
        grid-row: 5/6;
        order: 4;
     
    }
    .third-left {
        grid-column: 2/3;
        grid-row: 6/7;
    
    }
    .third-right {
        grid-column: 2/3;
        grid-row: 7/8;
      
    }
    .home-container-left {
        grid-column: 1/2;
        grid-row: 2/-2;
    }
    .home-container-right {
        grid-column: -2/-1;
        grid-row: 2/-2;
    }
  
    .home-container-bottom {
        grid-column: 1/2;
        grid-row: -2/-1;
    }

}

@media screen and (max-width: 650px) {


}

@media screen and (max-width: 490px) {

}