.home-section {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 1;
    margin-bottom: 3rem;
}

.home-section .hero-container {
    width: 100vw;
    height: 100vh;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    background: transparent;


}

.home-section .hero-container img {
    position: absolute;
    width: 100%; 
    pointer-events: none;

}

.hero-stars {
    z-index: 5;


    position:absolute;
    top: 0;
    left: 0;

    pointer-events: none;
    animation-delay: 0s;
    pointer-events: none;
    animation: movingStars 100s ease-in infinite,
    movingBackground 18s linear infinite;
}
.home-section .hero-container img.hero-planet {
    z-index: 6;

    mix-blend-mode: screen;
    animation: floatingDown 5s ease-in-out infinite;
}

.home-section .hero-container img.hero-bg-left {
    z-index: 7;

    animation: floatingUp 4s ease-in-out infinite;
    padding-bottom: 6em;
}

.home-section .hero-container img.hero-bg-right {
    z-index: 8;

    animation: floatingUp 4s ease-in-out infinite;
    padding-bottom: 6em;
}

.hero-bg-front {
    z-index: 9;
    bottom: 0;


    /* margin-top: 5em; */
}

@keyframes floatingUp {
    0% { transform: none; }
    50%  { transform: translate(0, 10px); }
    100% { transform: none; }  
}

@keyframes floatingDown {
    0% { transform: none; }
    50%  { transform: translate(0, -10px)  }
    100% { transform: none; }  
}

@keyframes movingStars {
    0%,20%,40%,60%,80%, 100% {
        opacity: 0;
     
    }
    
    10%,30%,50%,70%,90% {
        opacity: 0.5;
   
    }
    
}

@keyframes movingBackground {
    0% {
        transform: scale(1);
      
    }
    100% {
        transform: scale(2);
    }
    
}  

.hero-bottom {
    width: 100%;
    height: 140vh;
    position: relative;
    

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.hero-bottom1,
.hero-bottom2 {
    width: 67%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.hero-image1,
.hero-image2 {
    display: block;
    /* position: absolute; */
    /* margin-left: 40rem; */
    width: 15rem;
    height: 20rem;
    background-color: aliceblue;
    filter: blur(0.2rem);
    /* transform: translate(50px, -50px); */
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.hero-text1,
.hero-text2 {
    font-size: 6.1rem;
    color: white;
    font-weight: 800;
    letter-spacing: 0.5rem;
}

/* .hero-image1 {
    background-image: url("../../assets/NFT-images/1651.png");
    background-position: center;
    background-size: cover;
}

.hero-image2 {
    background-image: url("../../assets/NFT-images/1690.png");
    background-position: center;
    background-size: cover;
}

.rocket-img {
    position: absolute;
    width: 15rem;
    height: 15rem;
    right: 0;

    display: flex;
    justify-content: flex-end;
  
}

.rocket-img img {
    width: 5rem;
    height: 4rem;
    transform: rotate(190deg);
 
} */

