.features-section {
    width: 100%;
    height: 100vh;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8em;
}

.features-container {
    width: 100%;

    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.features-heading {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    text-align: left;
    margin-right: 5rem;
}

.features-heading h1 {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 700;
    font-family: var(--poppins);
}

.features-heading p {
    color: var(--color-subtext);
    font-size: 1rem;
    line-height: 1.875rem;
    font-weight: 500;
    font-family: var(--poppins);

    margin-top: 2rem;
}

.features-contents {
    flex: 1.5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.features-contents .features-container__feature-text p{
    padding-top: 1.5rem;

}

@media screen and (max-width: 990px) {
    .features {
        flex-direction: column;
    }

    .features-heading {
        margin: 0 0 2rem 0;
    }
}


@media screen and (max-width: 550px) {
    .features-heading h1 {
        font-size: 28px;
        line-height: 38px;
    }
}