.navbar-section {
    width: 100%;
    position: relative;
    /* opacity: 0; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* animation: fade-nav-down 1s ease 1 1s forwards; */
    z-index: 999;

}

@keyframes fade-nav-down {
    from {
        opacity: 1;
        transform: translateY(-100px);
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.navbar-container {   
    width: 90%;
    margin-top: 1.8rem;

    position: absolute;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--poppins);

    background: rgba(162, 180, 191, 0.254);
    backdrop-filter: blur(3em);
    /* flex: 1; */

    padding: 1em 5.8em;
    font-size: 0.5rem;
    border-style: none;
    /* background: #7f5af0;  */
 
    /* filter: blur(2rem); */
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    filter: brightness(1);
}
.navbar-color {
    width: 200%;
    height: 12vh;
    position: absolute;
    z-index: 999;
    top: -1.5rem;
    background: #7f5af0; 
    filter: blur(4rem);
    opacity: 0.8;
}

.navbar-container .logo-container,
.navbar-container .menu-container,
.navbar-container .sns-container {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    /* font-size: 0.5rem; */
    
}


.navbar-container .logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-container .logo-container img {
    width: 10rem;
    /* height: 3rem; */
    filter: brightness(6);
}

.navbar-container .menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}



.navbar-container .sns-container{
z-index: 9000;
    width: 33%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    color: #fff;

}



.navbar-container .menu-container div a,
.navbar-container .sns-container div a{
    color: #fff;
    font-weight: 600;
    font-size:1.1rem;
    text-transform: capitalize;
    margin: 0 1rem;
    padding: 0 0.4rem;
    cursor: pointer;
    position: relative;
    /* display: block; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
} 


.navbar-container .menu-container div a:hover,
.navbar-container .sns-container div a:hover { 
    
    background-color: #fff;
    color: #2b1055;
}

.navbar-container .menu-container div a:before,
.navbar-container .sns-container div a:before {
    content:"";
    position: absolute;
    bottom: 12px;
    left: 12px;
    width: 12px;
    height: 12px;
    border: 3px solid #fff;
    border-width: 0 0 3px 3px;
    opacity: 0;
    transition: all 0.3s;
}

.navbar-container .menu-container div a:hover:before,
.navbar-container .sns-container div a:hover:before {
    opacity: 1;
    bottom: -6px;
    left: -6px;
}

.navbar-container .menu-container div a:after,
.navbar-container .sns-container div a:after {
    content:"";
    position: absolute;
    top: 12px;
    right: 12px;
    width: 12px;
    height: 12px;
    border: 3px solid #fff;
    border-width: 3px 3px 0 0;
    opacity: 0;
    transition: all 0.3s; 
}

.navbar-container .menu-container div a:hover:after,
.navbar-container .sns-container div a:hover:after {
    opacity: 1;
    top: -6px;
    right: -6px;
}

.navbar-toggle {
    display: none;
}
.navbar-toggle svg {
    cursor: pointer; 
}

.navbar-toggle__menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background: rgba(11, 22, 59, 0.91);
    backdrop-filter: blur(9em);
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    right: 0;
    z-index: 500;
    position:absolute;
    /* margin-top: 3.43em; */
    /* min-width: 100vw; */
    display: block;

}

.navbar-toggle__menu div a{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.3rem;
    margin: 1.2rem 0;
    height: 2em;

    color: #fff;
 
    
}

.navbar-toggle__menu div a:hover {
    font-size: 1.5rem;
    background: #fff;
    color: #0A0148;
    transition: all 0.2s;
}

@media screen and (max-width: 1050px) {
    .navbar-container {
        top: 0;
        padding: 1rem 4rem;  
    }
    .menu-container,
    .sns-container {
        display: none!important;        
    }
    .logo-container {
        margin-right: auto;
    }
    .navbar-container .logo-container img {
        width: 12rem;
    }

    .navbar-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 900;
    }

    .navbar-toggle__menu {
        position: absolute;
        top:100%;
        width: 100%;
        border-radius: 20px;
       
       
    }
}

@media screen and (max-width: 700px) {

    .navbar-toggle__menu div {
        font-size: 1.2rem;    
       }

}

@media screen and (max-width: 550px) {
    .navbar-toggle__menu div {
     font-size: 1rem;    
    }
}