.NFT2-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NFT2 {
    width: 80%;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0;
    



}
.NFT2 h1 {
    font-size: 90px;
    /* margin-top: 60px;
    margin-bottom: 60px; */
    /* margin: 50px 0; */
    letter-spacing: 0.15rem;

}

.NFT2 .nft-title {
    font-size: 3rem;
}


.NFT2 .NFT-images-container .nft-img {
    width: 200px;
    opacity: 0.2;
}

.NFT2 .NFT-images-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    /* padding: 3.5em 3em; */
    
}

