#HEADER {
  height: 280vh;

}
#BODY,
#FOOTER {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
}



#BODY {


  z-index: 100;
  width: 100%;
  min-height: 500vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;



} 

#FOOTER {
 background-color: green;
 z-index: 100;
}

body::before {
  content: '';
  position: fixed;
  height: 200px;
  width: 200px;
  background: rgb(0, 255, 255);
  filter: blur(1040px);
}

body::after {
  content: '';
  position: fixed;
  height: 200px;
  width: 200px;
  top: 200px;
  left: 200px;
  background: rgb(183, 0, 255);
  filter: blur(140px);
}

.bg-circle1 {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 200px;
  width: 200px;
  background: rgb(0, 255, 255);
  filter: blur(140px);
}

.bg-circle2 {
  position: fixed;
  top: 100px;
  right: 250px;
  height: 200px;
  width: 200px;
  background: rgb(183, 0, 255);
  filter: blur(150px);
}