@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Syncopate:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none!important;
}

body {
  font-family: var(--montserrat);
  min-height: 100vh;
  width: 100vw;
  position: relative;
  top: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;

  top: 0;
  left: 0;

   background: rgb(2, 2, 26)!important;

}




html {
  scroll-behavior: smooth;
  }
  
  ::-webkit-scrollbar {
  width: 0;
  }
  

:root {
  --orbitron: 'Orbitron', sans-serif;
  --poppins: 'Poppins', sans-serif;
  --syncopate: 'Syncopate', sans-serif;
  --montserrat: 'Montserrat', sans-serif;
  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  

  --color-bg: #140138;
  /* --color-bg: #DBEBFF; */
  --color-bg: #2C146E;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
  --color-pri: rgb(82, 188, 250);
  --color-pri-light: rgba(82, 188, 250, 0.445);
  --color-sec-light: rgba(172, 17, 233, 0.274);

  --pc-width: 75%;
  --tab-width: 90%;
  --phone-width: 100%;
}

.bg-circle1 {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 200px;
  width: 200px;
  background: rgb(0, 255, 255);
  filter: blur(140px);
}

.bg-circle2 {
  position: fixed;
  top: 100px;
  right: 250px;
  height: 200px;
  width: 200px;
  background: rgb(183, 0, 255);
  filter: blur(150px);
}

.section__title {
  font-size: 5rem;
  margin: 20rem 0 0.5em 0;

  color: white;
}

.section__subtitle {
  font-size: 5rem;
  margin: 3rem 0;
}

.section__padding {
  padding: 1rem 15rem;
}

.content__padding {
  padding: 3.5rem;
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}