.spaceship-section {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    top: 0;
    /* background: rgb(2, 2, 26)!important; */

    display: flex;
    justify-content: center;
    align-items: center;
}


.spaceship-section .spaceship-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spaceship-container__text {
    flex-wrap: wrap;
    line-height: 7rem;
    display: flex;
    font-size: 2.1rem;
    color: #fff;
    letter-spacing: 0.5rem;
    font-weight: 700;
    justify-content: center;
    align-items: center;

}   
.spaceship-container__text span {
    margin: 0 5px;
    text-align: center;
}

.spaceship-section .spaceship-container__image {
    position: inherit;

    margin-top: 3.125rem;

    height: 25rem;
    width: 25rem;
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    user-select: none;
}


.spaceship-section .spaceship-container__image .main-img {
    position: absolute;
    /* height: 300px;
    width: 300px; */
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;
}

.spaceship-section .spaceship-container__image .main-img.active {
    animation: spin 8s linear 1s infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
    
}

.spaceship-section .spaceship-container__image .main-img .circle {
    position: absolute;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: rgb(4, 4, 44);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
    opacity: 0;
    mix-blend-mode: screen;

}

.spaceship-section .spaceship-container__image .main-img.active .circle {
    opacity: 1;
    mix-blend-mode: screen;
}

.spaceship-section .spaceship-container__image .main-img.active .circle:nth-child(1) {

    background-image: url("../../assets/planets-img/planet1.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translateY(-220%);
}

.spaceship-section .spaceship-container__image .main-img.active .circle:nth-child(2) {
    background-image: url("../../assets/planets-img/planet2.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translate(160% ,-160%);
}

.spaceship-section .spaceship-container__image .main-img.active .circle:nth-child(3) {
    background-image: url("../../assets/planets-img/planet3.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translate(220%);
}

.spaceship-section .spaceship-container__image .main-img.active .circle:nth-child(4) {
    background-image: url("../../assets/planets-img/planet4.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translate(160% ,160%);
}

.spaceship-section .spaceship-container__image .main-img.active .circle:nth-child(5) {
    background-image: url("../../assets/planets-img/planet5.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translateY(220%);
}

.spaceship-section .spaceship-container__image .main-img.active .circle:nth-child(6) {
    background-image: url("../../assets/planets-img/planet6.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translate(-160%, 160%);
}

.spaceship-section .spaceship-container__image .main-img.active .circle:nth-child(7) {
    background-image: url("../../assets/planets-img/planet7.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translateX(-220%);
}

.spaceship-section .spaceship-container__image .main-img.active .circle:nth-child(8) {
    background-image: url("../../assets/planets-img/planet8.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translate(-160%, -160%);
}

.spaceship-container__image img {
    position: absolute;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    border: 3px solid rgb(108, 161, 197);
}

@media screen and (max-width: 1050px) {
    .spaceship-container__text {
        flex-wrap: wrap;
        font-size: 1.5rem;
        color: #fff;
        letter-spacing: 0.5rem;
        font-weight: 600;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 4rem;
    
    } 
    .spaceship-text__dot  {
        width: 0.5rem;
        height: 0.5rem;
        margin-inline: 1.5rem;
    }
}

@media screen and (max-width: 650px) {
    .spaceship-container__text {
        flex-wrap: wrap;
        font-size: 1rem;
        
        color: #fff;
        letter-spacing: 0.5rem;
        font-weight: 600;
        justify-content: center;
        align-items: center;
    } 
    .spaceship-text__dot  {
        width: 0.3rem;
        height: 0.3rem;
        margin-inline: 1.5rem;
    }
    .spaceship-section .spaceship-container__image {
        height: 20rem;
        width: 20rem;
    }
    .spaceship-container__image img {
        height: 10rem;
        width: 10rem;
    }
    .spaceship-section .spaceship-container__image .main-img .circle {
        height: 3rem;
        width: 3rem;
    }
    .spaceship-text__dot {
        width: 100%;
        display: block;
    }
}

@media screen and (max-width: 490px) {

    .spaceship-container__text {
        flex-wrap: wrap;
        font-size: 1rem;
        
        color: #fff;
        letter-spacing: 0.5rem;
        font-weight: 600;
        justify-content: center;
        align-items: center;
    
    } 
    .spaceship-text__dot  {
        width: 0.3rem;
        height: 0.3rem;
        margin-inline: 1.5rem;
  
    }
    .spaceship-section .spaceship-container {
        height: 15rem;
        width: 15rem;

    }
    .spaceship-container__image img {
        height: 9rem;
        width: 9rem;
 
    }
    .spaceship-section .spaceship-container__image .main-img .circle {
        height: 3rem;
        width: 3rem;

    }
}


